@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px rgb(128, 128, 128);
  border-bottom: solid gray !important;
}
.card{
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 6px gray;
  -webkit-box-shadow: 6px gray;
  border-bottom: solid gray !important;
}
.nav-link {
  font-weight: 200 !important;
}
.nav-link:hover {
  font-weight: bold !important; /* Change font weight on hover */
}

/* .active {
  border-bottom: 2px solid black;
} */

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px; 
}
.country-button {
  width: 150px; /* Adjust the width as needed */
}

.pageHieght{
  height:80vh;
}

.link{
  /* color: black; */
  text-decoration: none;
}
.carousel-image{
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boxheight {
  width:80vh;
}